[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "<2.0.0"
scipy = "*"
matplotlib = "*"
seaborn = "*"
loguru = "*"
jupyterlab = "*"
ipywidgets = "*"
pymc = "*"
arviz = "*"
flake8 = "*"
autopep8 = "*"
pytest = "*"
pytest-cov = "*"
streamlit = "*"
scikit-learn = "*"
statsmodels = "*"

[dev-packages]
twine = "*"
build = "*"
mkdocs = "*"
mkdocstrings = "*"

[requires]
python_version = "3"
